# Arquivos de compilação
*.class

# Arquivos de log
*.log

# Arquivos do BlueJ
*.ctxt

# Arquivos temporários do Java (J2ME)
.mtj.tmp/

# Arquivos de pacotes (JAR, WAR, etc.)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs de erro de máquina virtual Java
hs_err_pid*
replay_pid*

# Configurações específicas do ambiente
/.metadata/
.vscode/
.project
.classpath
.settings
*module-info.java

# Diretórios de compilação
/bin/
/out/
